@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<h1>Ingrese el número de su tarjeta</h1>

<form method="post">
    <div>
        <input type="text" id="cardNumber" name="cardNumber" class="form-control" readonly="readonly" />
    </div>

    <div>
        <div class="numeric-keypad mt-3">
            @for (int i = 1; i <= 9; i++)
            {
                <button type="button" class="btn btn-info" onclick="appendDigit(@i)">@i</button>
            }
            <button type="button" class="btn btn-info" onclick="appendDigit(0)">0</button>
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="submit" name="submit" class="btn btn-success">Aceptar</button>
        <button type="button" class="btn btn-primary ml-3" onclick="clearInput()">Limpiar</button>
    </div>
</form>

<script>
    function appendDigit(digit) {
        var cardNumber = document.getElementById("cardNumber");
        cardNumber.value += digit;

        if (cardNumber.value.length === 4 || cardNumber.value.length === 9 || cardNumber.value.length === 14) {
            cardNumber.value += "-";
        }

        if (cardNumber.value.length >= 19) {
            cardNumber.value = cardNumber.value.substring(0, 19);
        }
    }

    function clearInput() {
        document.getElementById("cardNumber").value = "";
    }
</script>
